n8n-workflows/event1-updated-workflow.json
{
  "name": "LocaNoche Event 1 - Minus One Payment Processing (Updated)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "loca-noche-event1-payment",
        "options": {}
      },
      "id": "webhook1",
      "name": "Payment Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "loca-noche-event1-payment"
    },
    {
      "parameters": {
        "url": "https://api.vivapayments.com/connect/token",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        },
        "options": {}
      },
      "id": "oauth1",
      "name": "Get VivaPayments OAuth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "jsCode": "// Extract and prepare payment data\nconst data = $input.first().json;\nlet totalAmount, totalQuantity, description, customerData;\n\n// Support both pre-calculated and legacy formats\nif (data.preCalculated || data.totalAmount) {\n  totalAmount = data.totalAmount;\n  totalQuantity = data.totalQuantity;\n  description = data.description || 'Oktoberfest - Minus One Ticket Purchase';\n  customerData = data.customerData || {};\n} else {\n  // Legacy single ticket format\n  const ticketPrice = data.ticketType === 'child' ? 5 : 10;\n  totalAmount = ticketPrice * data.quantity;\n  totalQuantity = data.quantity;\n  description = `${data.quantity}x ${data.ticketType} - Oktoberfest Ticket Purchase`;\n  customerData = {};\n}\n\n// Generate unique order code\nconst orderCode = '1309-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9);\n\n// Extract customer information\nconst customerEmail = customerData.email || data.customerEmail || 'customer@example.com';\nconst customerName = customerData.firstName \n  ? `${customerData.firstName} ${customerData.lastName}` \n  : data.customerName || 'Customer';\nconst customerPhone = customerData.phone || data.customerPhone || '';\n\n// Prepare the complete payment data\nreturn [{\n  json: {\n    ...data,\n    totalAmount,\n    totalQuantity,\n    description,\n    orderCode,\n    customerEmail,\n    customerName,\n    customerPhone,\n    paymentCode: '1309',\n    eventName: 'Oktoberfest - Minus One',\n    eventId: '1',\n    eventDate: '2024-10-11',\n    eventTime: '17:00 - 00:00',\n    venue: 'River Park Lakatamia',\n    successUrl: `https://locanoche.com/success?orderId=${orderCode}&eventId=1&customerEmail=${encodeURIComponent(customerEmail)}&customerName=${encodeURIComponent(customerName)}&totalAmount=${totalAmount}&totalQuantity=${totalQuantity}`,\n    failUrl: 'https://locanoche.com/failure',\n    webhookUrl: 'https://locanoche.com/api/payments/webhook'\n  }\n}];"
      },
      "id": "code1",
      "name": "Prepare Payment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "url": "https://api.vivapayments.com/checkout/v2/orders",
        "authentication": "genericCredentialType",
        "genericCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $node['Get VivaPayments OAuth Token'].json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"amount\": {{ $node['Prepare Payment Data'].json.totalAmount * 100 }},\n  \"customerTrns\": \"{{ $node['Prepare Payment Data'].json.description }}\",\n  \"description\": \"{{ $node['Prepare Payment Data'].json.description }}\",\n  \"sourceCode\": \"1309\",\n  \"merchantTrns\": \"{{ $node['Prepare Payment Data'].json.orderCode }}\",\n  \"customer\": {\n    \"email\": \"{{ $node['Prepare Payment Data'].json.customerEmail }}\",\n    \"fullName\": \"{{ $node['Prepare Payment Data'].json.customerName }}\",\n    \"phone\": \"{{ $node['Prepare Payment Data'].json.customerPhone }}\",\n    \"requestLang\": \"en\"\n  },\n  \"paymentTimeout\": 1800,\n  \"allowRecurring\": false,\n  \"maxInstallments\": 0,\n  \"preauth\": false,\n  \"tips\": false,\n  \"redirectUrl\": \"{{ $node['Prepare Payment Data'].json.successUrl }}\",\n  \"failUrl\": \"{{ $node['Prepare Payment Data'].json.failUrl }}\",\n  \"webhookUrl\": \"{{ $node['Prepare Payment Data'].json.webhookUrl }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "vivaCreate1",
      "name": "Create VivaPayments Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"paymentUrl\": \"https://www.vivapayments.com/web/checkout?ref={{ $json.OrderCode }}\",\n  \"orderCode\": \"{{ $json.OrderCode }}\",\n  \"amount\": {{ $node['Prepare Payment Data'].json.totalAmount }},\n  \"quantity\": {{ $node['Prepare Payment Data'].json.totalQuantity }},\n  \"event\": \"{{ $node['Prepare Payment Data'].json.eventName }}\",\n  \"eventId\": \"{{ $node['Prepare Payment Data'].json.eventId }}\",\n  \"description\": \"{{ $node['Prepare Payment Data'].json.description }}\",\n  \"paymentCode\": \"{{ $node['Prepare Payment Data'].json.paymentCode }}\"\n}"
      },
      "id": "respond1",
      "name": "Return Payment URL",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Payment Request Webhook": {
      "main": [[{"node": "Get VivaPayments OAuth Token", "type": "main", "index": 0}, {"node": "Prepare Payment Data", "type": "main", "index": 0}]]
    },
    "Get VivaPayments OAuth Token": {
      "main": [[{"node": "Create VivaPayments Order", "type": "main", "index": 0}]]
    },
    "Prepare Payment Data": {
      "main": [[{"node": "Create VivaPayments Order", "type": "main", "index": 0}]]
    },
    "Create VivaPayments Order": {
      "main": [[{"node": "Return Payment URL", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}